<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   QXplist.plist
   AreaPlistFile

   Created by ZMMacBook on 2017/3/8.
   Copyright (c) 2017年 ZMMacBook. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>aHR0cDovLzEyMC4xOTYuMTEwLjE5Ni9tby9JT1NhcHAuaXBh</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.zhengmeng.teck</string>
                    <key>bundle-version</key>
                    <string>1.0.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>清新区移动办公</string>
                </dict>
            </dict>
        </array>
    </dict>

</plist>
