<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   YunAnJCPT.plist
   AreaPlistFile

   Created by ZMMacBook on 2017/4/7.
   Copyright (c) 2017年 ZMMacBook. All rights reserved.
 
 云安基层平台.plist
 -->
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://ggfw.yunan.gov.cn:9004/download/mobilebusinesshall.ipa</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.zhengmeng.teck</string>
                    <key>bundle-version</key>
                    <string>1.0.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>云安基层平台</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
